<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Songs main page-->
    <title>Songs</title>

    <link href="css/style.css" rel="stylesheet" />
    <script src="js/script.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="images/logoet.jpg" /> <!--favicon-->
</head>
<body>
    <header>
        <nav id="ourNavbar" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="images/logoet.jpg" width="30" height="30" alt="">
                    Cinephonia
                </a>

                <div class="navbar-collapse" id="navbarSupportedContent" >
                    <div class="col-11">
                        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/films">Films</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/songs">Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1">
                        <button id="registerButton" class="btn rounded-pill" type="button"  onclick="window.location.href='/register'">Register</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--Title-->
    <div class="text-center">
        <p class="sectionTitle">SONGS</p>
        <hr class="mx-5">
    </div>

    <div id="songButtons">
        <!--Button that shows a form to upload a new song (if songs list is being shown, it will hide it)-->
        <button type="button" class="uploadButtons col-3" onclick="showSongsForm()">Upload<br>new song</button>
        <!--Button that shows the songs list (if the form is shown, it will hide it)-->
        <button type="button" class="showButtons col-3 "  onclick="showAllSongs()">Show all</button>
    </div>

    <!--Upload new song form-->
    <!--required: the form is not valid if there are empty fields-->
    <div id="uploadSongs">
        <div class="text-center container d-flex justify-content-center mb-3">
            <form type="Submit" class="text-center" onsubmit="newSong()" method="post" action="/songInfo">
                <div class="row d-flex mb-2">
                    <!--Select which user is uploading the song-->
                    <select class="form-control" name="username" required/>
                        <option value="">Who are you?</option>
                        {{#users}}
                        <option>{{username}}</option>
                        {{/users}}
                    </select>
                </div>
                <div class="row d-flex mb-2">
                    <input type="text" class="form-control" placeholder="Title" name="name" required/>
                </div>
                <div class="row d-flex mb-2">
                    <input type="text" class="form-control" placeholder="Author" name="author" required/>
                </div>
                <div class="row d-flex mb-2">
                    <div class="col-6 px-0">
                        <input type="number" class="form-control" placeholder="Minutes" name="minutes" min="0" max="60" required/>
                    </div>
                    <div class="col-6 px-0">
                        <input type="number" class="form-control" placeholder="Seconds" name="seconds" min="0" max="59" required/>
                    </div>
                </div>
                <div class="row d-flex mb-2">
                    <div class="col-4 px-0">
                        <input type="number" class="form-control" placeholder="Year" name="year" min="1900" max="2050" required/>
                    </div>
                    <div class="col-8 px-0 mb-2">
                        <select id="inputMusicGenre" class="form-control" name="genre" required/>
                            <option value="">Music genre</option>
                            {{#genreList}}
                            <option>{{.}}</option>
                            {{/genreList}}
                        </select>
                    </div>
                </div>
                <input type="submit" class="ourButton" value="Submit">
            </form>
            <br>
        </div>
    </div>
    <!--Songs-->
    <div id="allSongs" class="container mx-3 my-5">
        <div class="row row-cols-md-4 row-cols-1 g-2">
            <!--each song is placed in a card which occupies 3 columns, so we can show 4 songs in a row -->
            {{#songs}}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="titles">{{name}}</h5>
                        <p>{{author}}</p>
                    </div>
                    <div class="card-body">
                        <a href="/song/{{id}}" class="card-link">See more</a> <!--song info-->
                        <a onclick="deleteSong('{{id}}','{{name}}')" class="card-link">Delete</a> <!--Delete song, shows an alert to confirm-->
                        <a href="/updateSong/{{id}}" class="card-link">Update</a> <!--Update song: redirects to a new page in which the user can change some values-->
                    </div>
                </div>
            </div>
            {{/songs}}
        </div>
    </div>
</body>
</html>