body{
    margin-left: 3%;
    margin-top:3%;
}
#ourNavbar{
    background-color: #CBE9EE;
}

#registerButton{
    margin-left: 10px;
    color:whitesmoke;
    background-color: #40737C;
}
#registerButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}

#loginButton{
    color:whitesmoke;
    background-color: #85B9C2;
}
#loginButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}


