/* body : margin and background */
body{
    margin-left: 3%;
    margin-top:3%;
    background: radial-gradient(circle, rgba(0,130,152,1) 0%, rgba(143,203,213,1) 100%);
}
/* Navbar: color and  register button*/
#ourNavbar{
    background-color: #CBE9EE;
}

#registerButton{
    color:whitesmoke;
    background-color: #40737C;
}
#registerButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}

/*Different purpose buttons*/

#deleteButton{
    margin-right: 10px;
    color:#85B9C2;
    background-color: whitesmoke;
}
#deleteButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}

#updateButton{
    margin-right: 10px;
    color:lightgrey;
    background-color: #85B9C2;
}

#updateButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}

#goHomeButton{
    background-color: whitesmoke;
    color: cornflowerblue;
}

#goHomeButton:hover{
    color:#6c757d;
    background-color: #CBE9EE;
}

#backButton{
    background-color: #f1f1f1;
    color: #6494ec;
}

#backButton:hover{
    color: #707981;
    background-color: #c8e5ea;
}

.ourButton{
    background-color: whitesmoke;
    color: cornflowerblue;
}

.uploadButtons{
    border-radius: 18px;
}
.showButtons{
    border-radius: 18px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin-left: 16.66%;
}

#filmButtons{
    display:flex;
    justify-content: center;
    padding: 150px;
}

#songButtons{
    display:flex;
    justify-content: center;
    padding: 150px;
}

.addCheckBoxButton{
    background-color: powderblue;
    color: darkslategray;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.addCheckBoxButton:hover{
    background-color: whitesmoke;
    color: darkslategray;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.submitButton{
    border-radius: 18px;
    text-align: center;
    color: lightgrey;
    background-color: steelblue;
}

/* Light color links*/
.link{
    color: whitesmoke;
}

.link:hover{
    color: #cccccc;
}

/* Titles */
#mainTitle{
    color: #F1F9FA;
    font-size: 140px;
    font-family: "garamond";
}

.sectionTitle{
    color: #F1F9FA;
    font-size: 100px;
    margin-top: 130px;
    font-family: "garamond";
}

.userTitles{
    font-family: "garamond";
    color: whitesmoke;
}

/* Texts: slogan, subtitles, paragraphs...*/
.mainText{
    margin-top: 130px;
}

#slogan{
    color: #e8f0f1;
    font-size: 25px;
    font-family: "Copperplate";
}

#congratsText{
    color: snow;
}

.synopsis{
    height: 250px;
    text-overflow: ellipsis;
}

.generalPageText{
    color:whitesmoke;
    font-size: 27px;
    font-family: Garamond;
}

/* Horizontal line, separation between title and body*/
hr{
    position: relative;
    top: 70px;
    border: none;
    height: 3px;
    background: whitesmoke;
    margin-bottom: 50px;
    color: whitesmoke;
}

/* Tables */
#userTable{
    background-color: whitesmoke;
}

/* Images*/
.cover{
    width: 333px;
    height: 480px;
}

/* Hidden checkboxes */
#filmCheckBox{
    display: none;
}

#songCheckBox{
    display: none;
}

/*Some containersthat are hidden*/
#uploadFilms{
    display: none;
}

#uploadSongs{
    display: none;
}

#allFilms{
    display: none;
}

#allSongs{
    display: none;
}